@import "tailwindcss";
@import "./assets/fonts/JetBrainsMono/font.css";
@custom-variant dark (&:is(.dark *));

@theme {
  --max-w-page: 1520px;
  --h-header: 64px;

  --font-pretendard:
    "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif;

  --font-code: "JetBrains Mono", Consolas, "Courier New", monospace;
}

@utility max-w-page {
  max-width: var(--max-w-page);
}
@utility h-header {
  height: var(--h-header);
}
