@theme {
  /* Semantic Colors */
  --color-primary: var(--color-blue-600);
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);

  /* Text Colors */
  --color-ink-white: oklab(100% 0 -0.00011);
  --color-ink-primary: oklab(17.764% 0 -0.00002);
  --color-ink-secondary: oklab(43.128% 0 -0.00005);
  --color-ink-tertiary: oklab(56.584% 0 -0.00006);
  --color-ink-disabled: oklab(68.29499999999999% 0 -0.00008);

  /* Line Colors */
  --color-line-light: oklab(95.928% 0.0015 -0.00522);
  --color-line-regular: oklab(92.393% 0.00263 -0.00914);
  --color-line-black: oklab(17.764% 0 -0.00002);

  /* Icon Colors */
  --color-icon-white: oklab(100% 0 -0.00011);
  --color-icon-primary: oklab(28.500999999999998% -0.00202 -0.02542);
  --color-icon-secondary: oklab(40.791% 0.00697 -0.02574);
  --color-icon-tertiary: oklab(60.723000000000006% 0.00492 -0.01738);
  --color-icon-disabled: oklab(64.36500000000001% 0.00021 -0.00926);
}
