@import "tailwindcss";
@import "../assets/fonts/JetBrainsMono/font.css";

@import "./typography.css";
@import "./color.css";
@import "./spacing.css";

@custom-variant dark (&: is(.dark *));

@theme {
  /* Layout */
  --max-w-page: 1440px;
  --h-header: 64px;
}

@utility max-w-page {
  max-width: var(--max-w-page);
}
@utility h-header {
  height: var(--h-header);
}

@utility scrollbar {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #cacbd5;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a5a5af;
  }
}
